.container {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.4rem;
    width: 100%;
  }
}

.dimension {
  display: flex;
  gap: 2rem;
}

.axis {
  display: flex;
  gap: 2rem;
}

.textItem {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 0.75rem;
  margin-top: 0.8rem;
  background-color: rgba(196, 217, 235, 0.25);
}

.textHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textTitle {
  font-weight: 700;
  font-size: 1rem;
}

.iconBtn {
  border: none;
  background: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.btnSection {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.btnSection > *{
  flex: 1;
}

.btn{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: rgb(196, 217, 235);
}

.container > section > .btn {
  margin-top: 1rem;
}

.iconBtn:active{
  transform: scale(0.96);
}

.btn:active{
  transform: scale(0.96);
}